<partial name="_BreadCrumb" />
<!--How to work-->
<section class="sptb bg-white">
    <div class="container">
        <div class="section-title center-block text-center">
            <h2>Rejoin necə işləyir?</h2>
            <p>Saytımızda nələr edə bilərsiniz</p>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="">
                    <div class="mb-lg-0 mb-4">
                        <div class="service-card text-center">
                            <div class="bg-light icon-bg icon-service text-purple about">
                                <img src="~/images/products/about/megaphone.png" alt="img">
                            </div>
                            <div class="servic-data mt-3">
                                <h4 class="font-weight-semibold mb-2">CV ni yarat</h4>
                                <p class="text-muted mb-0">Məlumatlarını yazaraq öz CV-ni yarat və daha asan iş tap</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="">
                    <div class="mb-lg-0 mb-4">
                        <div class="service-card text-center">
                            <div class="bg-light icon-bg icon-service text-purple about">
                                <img src="~/images/products/about/employees.png" alt="img">
                            </div>
                            <div class="servic-data mt-3">
                                <h4 class="font-weight-semibold mb-2">Qeydiyyatdan keç</h4>
                                <p class="text-muted mb-0">E-poçtunu və şifrəni yazaraq saytımıza üzv ol</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="">
                    <div class="mb-sm-0 mb-4">
                        <div class="service-card text-center">
                            <div class="bg-light icon-bg icon-service text-purple about">
                                <img src="~/images/products/about/pencil.png" alt="img">
                            </div>
                            <div class="servic-data mt-3">
                                <h4 class="font-weight-semibold mb-2">İşləri Filtrlə</h4>
                                <p class="text-muted mb-0">Saytımızdakı minlərlə iş üzərindən axtarış et və sənə uyğun olanını tap</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="">
                    <div class="">
                        <div class="service-card text-center">
                            <div class="bg-light icon-bg icon-service text-purple about">
                                <img src="~/images/products/about/coins.png" alt="img">
                            </div>
                            <div class="servic-data mt-3">
                                <h4 class="font-weight-semibold mb-2">İş elanı ver</h4>
                                <p class="text-muted mb-0">İş məlumatlarını daxil et və ödənişsiz olaraq saytımıza yerləşdir</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/How to work-->
<!--Statistics-->
<section>
    <div class="about-1 cover-image bg-background-color" data-image-src="~/images/banners/banner5.jpg">
        <div class="content-text mb-0 text-white info">
            <div class="container">
                <div class="row text-center no-gutters">
                    <div class="col-lg-3 col-md-6">
                        <div class="counter-status md-mb-0 sptb bg-black-transparent-1 mt-5 mt-md-0">
                            <div class="counter-icon">
                                <i class="fa fa-users"></i>
                            </div>
                            <h5>Üzv</h5>
                            <h2 class="counter mb-0">@ViewBag.Users.Count</h2>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="counter-status status-1 md-mb-0 sptb bg-black-transparent-2">
                            <div class="counter-icon text-warning">
                                <i class="fa fa-rocket"></i>
                            </div>
                            <h5>İş</h5>
                            <h2 class="counter mb-0">@ViewBag.Jobs.Count</h2>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="counter-status status md-mb-0 sptb bg-black-transparent-1">
                            <div class="counter-icon text-primary">
                                <i class="fa fa-building"></i>
                            </div>
                            <h5>Şirkət</h5>
                            <h2 class="counter mb-0">@ViewBag.Companies.Count</h2>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="counter-status status sptb bg-black-transparent-2">
                            <div class="counter-icon text-success">
                                <i class="far fa-smile"></i>
                            </div>
                            <h5>Namizəd</h5>
                            <h2 class="counter mb-0">@ViewBag.Candidates.Count</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/Statistics-->
<!--section-->
<section class="sptb bg-white">
    <div class="container">
        <div class="section-title center-block text-center">
            <h2>Niyə biz?</h2>
            <p>Minlərlə iş elanı saytından nəyə görə bizi seçməlisiniz</p>
        </div>
        <div class="row ">
            <div class="col-md-6 col-lg-4 features">
                <div class="card bg-light">
                    <div class="card-body text-center">
                        <div class="feature">
                            <h3 class="font-weight-bold">Pulsuz elan ver</h3>
                            <p>Saytımızda şirkət profili yaradaraq pulsuz olaraq isədiyiniz qədər elan verə bilərsiniz</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 features">
                <div class="card bg-light">
                    <div class="card-body text-center">
                        <div class="feature">
                            <h3 class="font-weight-bold"> CV yarat</h3>
                            <p>Əgər iş axtarırsınızsa saytımızda öz CV nizi yaradaraq daha asan iş tapa bilərsiniz</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 features">
                <div class="card mb-lg-0 bg-light">
                    <div class="card-body text-center">
                        <div class="feature">
                            <h3 class="font-weight-bold">Axtarış et</h3>
                            <p>Saytımızda olan minlərlə işi kateqoriyaya, ada, ünvana görə filtrlə</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 features">
                <div class="card bg-light">
                    <div class="card-body text-center">
                        <div class="feature">
                            <h3 class="font-weight-bold">İşə müraciət et</h3>
                            <p>Saytımızdakı minlərlə iş arasından sənə ən uyğun olanı tap və işə müraciət et</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 features">
                <div class="card mb-lg-0 mb-md-0 bg-light">
                    <div class="card-body text-center">
                        <div class="feature">
                            <h3 class="font-weight-bold">Elanlarınızı izləyin</h3>
                            <p>Paylaşdığınız iş elanlarını izləyin, statusunu dəyişin, redaktə edin</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 features">
                <div class="card mb-0 bg-light">
                    <div class="card-body text-center">
                        <div class="feature">
                            <h3 class="font-weight-semibold">Müraciətləri gör</h3>
                            <p>Elanına müraciət edən namizədləri gör və məlumatlarına baxaraq ən yaxşısnı seç</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/section-->
