@model LoginViewModel

<!--Sliders Section-->
<partial name="_BreadCrumb" />
<!--/Sliders Section-->
<!--Login-Section-->
<section class="sptb">
    <div class="container customerpage">
        <div class="row">
            <div class="single-page">
                <div class="col-lg-5 col-xl-4 col-md-7 d-block mx-auto">
                    <div class="wrapper wrapper2">
                        
                        <form asp-controller="account" asp-action="loginuser" method="post" class="card-body" tabindex="500" enctype="multipart/form-data">
                            <div class="mail">
                                <label>E-poçt</label>
                                <input asp-for="Email" type="email" placeholder="E-poçt" required>
                                <span class="text-danger" asp-validation-for="Email"></span>
                            </div>
                            <div class="passwd">
                                <label>Şifrə</label>
                                <input asp-for="Password" placeholder="Şifrə" required>
                                <span class="text-danger" asp-validation-for="Password"></span>
                            </div>

                            <div class="submit">
                                <button type="submit" class="btn btn-primary btn-block">Daxil ol</button>
                            </div>
                            <p class="text-dark mb-0">Hesabınız yoxdur?<a asp-controller="account" asp-action="register" class="text-primary ml-1">Qeydiyyatdan Keçin</a></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/Login-Section-->

