@model RegisterViewModel
<!--Breadcrumb-->
<partial name="_BreadCrumb" />
<!--/Breadcrumb-->
<!--Register-section-->
<section class="sptb">
    <div class="container customerpage">
        <div class="row">
            <div class="single-page">
                <div class="col-lg-5 col-xl-4 col-md-6 d-block mx-auto">
                    <div class="wrapper wrapper2">

                        <form class="card-body" asp-controller="account" asp-action="registeruser" method="post">
                            <div class="user-type">
                                <select asp-for="UserType" class="form-control custom-select select2-show-search" data-placeholder="choose type">
                                    <option value="Employee">İşçi</option>
                                    <option value="Company">Şirkət</option>
                                </select>
                            </div>
                            <div class="name">
                                <label>Ad Soyad</label>
                                <input asp-for="Fullname" placeholder="Ad Soyad" required>
                                <span class="text-danger" asp-validation-for="Fullname"></span>
                            </div>

                            <div class="mail">
                                <label>E-poçt</label>
                                <input asp-for="Email" type="email" placeholder="E-poçt" required>
                                <span class="text-danger" asp-validation-for="Email"></span>
                            </div>
                            <div class="passwd">
                                <label>Şifrə</label>
                                <input asp-for="Password" placeholder="Şifrə" required>
                                <span class="text-danger" asp-validation-for="Password"></span>
                            </div>
                            <div class="submit">
                                <button type="submit" class="btn btn-primary btn-block">Tamamla</button>
                            </div>
                            <p class="text-dark mb-0">Artıq qeydiyyatdan keçmisiniz?<a asp-controller="account" asp-action="login" class="text-primary ml-1">Daxil olun</a></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<!--Register-section-->
