@model Job
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Apply Jobs</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
               
                <div class="col-sm-12 col-md-12">
                    <div class="form-group">
                        <label class="form-label">Niyə sizi seçməliyik</label>
                        <textarea name="why-you" type="text" rows="6" class="form-control" placeholder="niyə siz"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            <button  name="@Model.Id" class="btn btn-success apply-job">Submit</button>
        </div>
    </div>
</div>