<!doctype html>
<html lang="en" dir="ltr">

<!-- Mirrored from www.spruko.com/demo/rejoin/html/404.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 15 Dec 2019 09:31:57 GMT -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="Description" content="Job board html template">
    <meta name="Author" content="Spruko Technologies Private Limited">
    <meta name="keywords" content="bootstrap job board template, bootstrap job template, hr consultancy website template, job board bootstrap template, job board html template, job listing html template, job portal html template, job portal templates html5, job posting website template, job recruitment website template, job template bootstrap, job template html, simple html and css templates, simple html css templates, directory listing html template, classified website template, responsive css template, html5 responsive template, job posting template, simple bootstrap template, bootstrap 4 templates, job application template, html5 template, premium, recruitment, template, html, job alert, directory" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />

    <!-- Title -->
    <title>rejoin - Job board html template</title>
    <link rel="stylesheet" href="~/fonts/fonts/font-awesome.min.html">

    <!-- Bootstrap Css -->
    <link href="~/plugins/bootstrap-4.3.1-dist/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Dashboard Css -->
    <link href="~/css/style.css" rel="stylesheet" />

    <!-- c3.js Charts Plugin -->
    <link href="~/plugins/charts-c3/c3-chart.css" rel="stylesheet" />

    <!-- Custom scroll bar css-->
    <link href="~/plugins/scroll-bar/jquery.mCustomScrollbar.css" rel="stylesheet" />

    <!-- Switcher css -->
    <link href="~/switcher/css/switcher.css" rel="stylesheet" id="switcher-css" type="text/css" media="all" />

    <!-- COLOR-SKINS -->
    <link id="theme" rel="stylesheet" type="text/css" media="all" href="~/color-skins/color-skins/color10.css" />
    <link rel="stylesheet" href="~/color-skins/demo.css" />

    <!---Font icons-->
    <link href="~/css/icons.css" rel="stylesheet" />
</head>
<body class="overflow-hidden construction-image">


    <div class="page">
        <div class="page-content z-index-10">
            <div class="container text-center text-white">
                <div class="display-1 mb-5"> 404</div>
                <h1 class="h2  mb-3">Səhifə tapılmadı</h1>
                <p class="h4 font-weight-normal mb-7 leading-normal">Xəta!!!! mövcud olmayan səhifəyə getməyə çalışırsan. Ana səhifəyə qayıt</p>
                <a class="btn btn-secondary" asp-controller="home" asp-action="index">
                    Ana səhifəyə qayıt
                </a>
            </div>
        </div>
    </div>

    <!-- JQuery js-->
    <script src="~/js/vendors/jquery-3.2.1.min.js"></script>

    <!-- Bootstrap js -->
    <script src="~/plugins/bootstrap-4.3.1-dist/js/popper.min.js"></script>
    <script src="~/plugins/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>

    <!--JQuery Sparkline Js-->
    <script src="~/js/vendors/jquery.sparkline.min.js"></script>

    <!-- Circle Progress Js-->
    <script src="~/js/vendors/circle-progress.min.js"></script>

    <!-- Star Rating Js-->
    <script src="~/plugins/rating/jquery.rating-stars.js"></script>

    <!-- Custom scroll bar Js-->
    <script src="~/plugins/scroll-bar/jquery.mCustomScrollbar.concat.min.js"></script>

    <!--Counters -->
    <script src="~/plugins/counters/counterup.min.js"></script>
    <script src="~/plugins/counters/waypoints.min.js"></script>

    <!-- Custom Js-->
    <script src="~/js/admin-custom.js"></script>

    <script>
        document.querySelector(".header-main").style.display = "none";
        window.onload = document.getElementById("global-loader").style.display = "none"
    </script>

</body>

<!-- Mirrored from www.spruko.com/demo/rejoin/html/404.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 15 Dec 2019 09:31:57 GMT -->
</html>